<div class="container">
  <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
  </div>
  <form [formGroup]="userForm" (ngSubmit) = "onSubmit()">
      <h3>Signup Here</h3>

      <label for="username">Username</label>
      <input type="text" placeholder="Username" id="username" formControlName="userName">

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password" formControlName="password">

      <button type="submit">Sign Up</button>

      <div style="text-align: center;padding-top: 25px;">
        Already a user?  <span class="singin" style="cursor: pointer;" [routerLink]="['/login']">Sign in</span>
      </div>
  </form>
</div>

